@import url('https://fonts.googleapis.com/css?family=Nova+Mono&display=swap');
/*--------------- basic styling --------------- */
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: "Roboto Mono" !important;
      background-color: #0f0f0f ;
      color: #fff ;
}

.title {
      position: relative;
  }
h3 {
	font-family: 'Nova Mono', monospace;
	font-size: 2.5rem;
	text-transform: uppercase;
	width: 728px;
	height: 410px;
      color: black;
      position: absolute;
      top: 120px;
}

.char {
	offset-path: path('M.2 219.6c247-107 233.3 91.4 406.4 138.4C659.2 426.6 750.2 6.6 552.2.6 337.7-5.9 426.9 415 696.1 359.4c256.1-52.9 182.1-217.9 413.1-163.9');
	offset-distance: calc(var(--char-index) * 1.5rem);
	position: absolute;
	animation: loop 3500ms cubic-bezier(.62,.01,.42,1.01) infinite alternate calc(var(--char-index) * 10ms);
}

@keyframes loop {
	50% {
		offset-distance: calc((var(--char-index) * 2.5rem) + 700px);
		color: white;
	}
	100% {
		offset-distance: calc((var(--char-index) * 1.5rem) + 1690px);
	}
}

.whitespace {
      width: 100%;
      height: 100px;
}

.whitespace2 {
      width: 100%;
      height: 120px;
}

@media(max-width: 768px) {
      .whitespace {
            display: none;
      }
}

/*--------------- typewriter effect --------------- */
.line {
      width: 24em;
      top: 50%;
      margin: auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
}

.anim-typewriter {
      animation: typewriter 3s steps(30) 1s 1 normal both,
      blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 12em;
      }
}

@media(max-width: 7000px) {
      @keyframes typewriter {
            from {
                  width: 0;
            }
            to {
                  width: 10em;
            }
      }
}

@keyframes blinkTextCussor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}

/*--------------- navigation --------------- */
nav {
      width: 100%;
      background: #181818;
      height: 70px;
      position: fixed;
      z-index: 1;
}

nav #brand {
      float: left;
      display: block;
      margin-left: 82px;
      line-height: 70px;
      font-weight: bold;
}

nav #brand a {
      color: #fff;
      transition: all 0.3s ease-out;
}

nav #brand a:hover {
      text-decoration: none;
}

nav #menu {
      float: left;
      right: 80px;
      position: fixed;
}

nav #menu li {
      padding-left: 40px;
      display: inline-block;
      cursor: pointer;
      font-weight: 300;
      line-height: 70px;
      position: relative;
      transition: all 0.3s ease-out;
}

nav #menu li span {
      font-weight: 700;
}

nav #menu li a {
      color: #fff;
}

nav #menu li a:hover {
      text-decoration: none;
}

#toggle {
      position: absolute;
      right: 30px;
      top: 20px;
      font-weight: 300;
      z-index: 2;
      width: 30px;
      height: 30px;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

.close-btn {
      position: absolute;
      right: 16px;
      font-weight: 300;
      z-index: 2;
      cursor: pointer;
      top: -2px;
      line-height: 70px;
}

#resize {
      z-index: 1;
      top: 0px;
      position: fixed;
      background: #0f0f0f;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resize #menu {
      height: 90px;
      position: absolute;
      left: 45%;
      transform: translateX(-40%);
      text-align: center;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top: 140px;
}

#resize #menu li a {
      color: #fff;
}

#resize #menu li a:hover {
      text-decoration: none;
}

#resize.active {
      visibility: visible;
      opacity: 1;
}

@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
            margin-right: 4px;
      }

      nav #brand {
            margin-left: 24px;
      }

      #menu a {
            font-size: 20px;
            font-weight: 300;
      }

      #resize li span {
            font-weight: bolder;
      }

      nav #menu {
            display: none;
      }
}

@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}

/*--------------- hero section --------------- */
.hero {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

.hero h1 {
      font-weight: lighter;
      text-align: center;
      letter-spacing: -2px;
      line-height: 58px;
}

@media(max-width: 768px) {
      .header h1 {
            font-size: 26px;
      }
}

/*--------------- scroll down icon animation --------------- */
.scroll-down {
      position: absolute;
      left: 50%;
      bottom: 100px;
      display: block;
      text-align: center;
      font-size: 20px;
      z-index: 0;
      text-decoration: none;
      text-shadow: 0;
      width: 13px;
      height: 13px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transform: translate(-50%, 0) rotate(45deg);
      animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}


@keyframes fade_move_down {
      0% {
            transform: translate(0, -20px) rotate(45deg);
            opacity: 0;
      }
      50% {
            opacity: 1;
      }
      100% {
            transform: translate(0, 20px) rotate(45deg);
            opacity: 0;
      }
}

/*--------------- projects section --------------- */
h6 {
      text-align: center;
}

.vertical {
      margin-top: 40px;
      border-left: 1px solid #fff;
      height: 80px;
      position: absolute;
      left: 50%;
}

.project {
      height: 500px;
}

.project1 {
      background: url('img/project1.jpg') no-repeat 50% 50%;
      background-size: cover;
}

.project1::after {
      content: "ninja.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 8%;
      left: -20%;
      right: 0;
      bottom: 0;
}

.project2 {
      background: url('img/project2.png') no-repeat 50% 50%;
      background-size: cover;
}

.project2::after {
      content: "knowledge.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 80%;
      left: 90%;
      right: 0;
      bottom: 0;
}

.project3 {
      background: url('img/project3.png') no-repeat 50% 50%;
      background-size: cover;
}

.project3::after {
      content: "pressure.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 80%;
      left: -50%;
      right: 0;
      bottom: 0;
}

.project4 {
      background: url(https://images.unsplash.com/photo-1435685813800-51ba4ceb9c4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1785&q=80) no-repeat 50% 50%;
      background-size: cover;
}

.project4::after {
      content: "departure.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 10%;
      left: 90%;
      right: 0;
      bottom: 0;
}

@media(max-width: 768px) {
      .project {
            width: 90% !important;
            margin: 14px auto;
      }

      .vertical {
            display: none;
      }

      .project1::after, .project2::after, .project3::after, .project4::after {
            display: none;
      }
}

/*--------------- footer section --------------- */
.collab {
      text-align: right;
}

.collab p {
      font-weight: lighter !important;
      margin-bottom: 20px;
}

.hr {
      background: rgba(255, 255, 255, 0.2);
      height: 1px;
}

.info h4 {
      font-size: 18px;
      font-weight: lighter;
}

.info p {
      color: grey;
      font-weight: lighter;
}

.info li {
      font-weight: lighter;
      color: #fff;
      font-size: 18px;
      padding-left: 20px;
}

#fb::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #3b5998;
}


#ttv::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #BF4FFF;
}


#tw::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #55acee;
}


#yt::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #c4302b;
}

#media, #address {
      text-align: right;
}

#media ul {
      list-style: none;
}

#media ul li {
      display: inline-block;
}

@media(max-width: 768px) {
      .collab, #personal, #media, #address {
            text-align: center;
      }

      .info ul {
            margin: 0 0 0 -22px;
            padding: 0;
      }
}

#personal a {
      color: #4FE7FF;
}

#media a {
      color: #fff;
}

#address a {
      color: #02ff25;
}

/*--------------- work page --------------- */

.hero-content {
      margin-left: 0%;
}

.hero-content p {
      font-weight: 300;
      line-height: 36px;
      color: grey;
}

.hero-content h6 {
      text-align: left;
}

@media(max-width: 768px) {
      .hero-content {
            padding-top: 50px;
            width: 96%;
            margin: 0 auto;
      }
}

/*---------------about page --------------- */

.about {
      height: 500px;
      margin-top: 120px;
}

.image {
      background: url('img/about.jpg') no-repeat 50% 70%;
}

.image1 {
      background: url('img/project1.jpg') no-repeat 50% 70%;
}

.image2 {
      background: url('img/project2.png') no-repeat 50% 70%;
}

.image31 {
      background: url('img/project3.1.png') no-repeat;
      background-size:contain;
      
}

.image32 {
      background: url('img/project3.2.png') no-repeat 50% 70%;
}

.image4 {
      background: url('img/project4code.jpg') no-repeat 50% 70%;
}

/*--------------- contact form --------------- */

#contact-form {
      margin: 5% 1.4%;
}

#contact-form ul {
      list-style: none;
      border-radius: 5px;
      margin-bottom: 40px;
}

#contact-form li {
      padding: 10px;
}

#contact-form li:last-of-type {
      border-bottom: none;
}

#contact-form label {
      display: block;
      font-size: .8em;
      color: #999;
      padding-left: 5px;
}

#contact-form input, #contact-form textarea {
      width: 100%;
      padding: 5px;
      border: none;
      resize: vertical;
      background: transparent;
      color: #fff;
      font-weight: bolder;
}

input:focus {
      outline: none;
      border: none;
}

textarea:focus {
      outline: none;
      border: none;
}

.textarea {
      border-bottom: 1px solid #dfdfdf;
}

.send {
      margin-left: 50px;
      text-transform: uppercase;
      padding: 20px 30px;
      background: transparent;
      color: #dfdfdf;
      font-size: 14px;
      letter-spacing: 2px;
}

.send:hover {
      background: #dfdfdf;
      color: #101010;
}

@media(max-width: 768px) {
      #contact-form {
            margin: 5% -8%;
            width: 98%;
      }
}

/*--------------- project page --------------- */

.prev, .next  {
      color: grey;
      text-decoration: none;
}


.prev, .next a {
      color: grey;
}

.prev a {
      color: grey;
      text-align: left;
      text-decoration: none;
}

.next  {
      color: grey;
      text-align: right;
      text-decoration: none;
}

.prev a:hover 
{
      color: grey;
     text-decoration:none; 
     cursor:pointer;  
}

.next a:hover 
{
      color: grey;
     text-decoration:none; 
     cursor:pointer;  
}

a:not([href]) {
      color: grey;
      text-decoration: none;
    }


.link:hover 
{
      color: whitesmoke;
      text-decoration:none; 
      cursor:pointer;  
}    

.link {
      color: white;
      text-align: right;
      text-decoration: none;
}

/*--------bone------------*/
canvas {
      display: block;
      margin-left: auto;
      margin-right: auto; 
      width: 100%;
      height: 100%
}

/* Checkbox switch */

.checkbox-switch {
      cursor: pointer;
      display: inline-block;
      position: fixed;
      right: 3rem;
      bottom: 5rem;
      text-align: left;
      width: 100px;
      height: 30px;
      -webkit-border-radius: 30px;
      border-radius: 30px;
      line-height: 1.2;
      font-size: 14px;
      z-index: 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
  }
  
  .checkbox-switch input.input-checkbox {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 30px;
        padding: 0;
        margin: 0;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
  }
  
  .checkbox-switch .checkbox-animate {
      position: relative;
      width: 100px;
      height: 30px;
      background-color: #95a5a6;
      -webkit-transition: background 0.25s ease-out 0s;
      transition: background 0.25s ease-out 0s;
  }
  
  .checkbox-switch .checkbox-animate:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        background-color: #7f8c8d;
        top: 5px;
        left: 5px;
         -webkit-transition: left 0.3s ease-out 0s;
      transition: left 0.3s ease-out 0s;
      z-index: 10;
  }
  
  .checkbox-switch input.input-checkbox:checked + .checkbox-animate {
        background-color: #ffc6ffcb;;
  }
  
  .checkbox-switch input.input-checkbox:checked + .checkbox-animate:before {
        left: 75px;
        background-color: pink;
  }
  
  .checkbox-switch .checkbox-off,
  .checkbox-switch .checkbox-on {
        float: left;
        color: #fff;
        font-weight: 700;
        padding-top: 6px;
         -webkit-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
  }
  
  .checkbox-switch .checkbox-off {
        margin-left: 30px;
        opacity: 1;
  }
  
  .checkbox-switch .checkbox-on {
        display: none;
        float: right;
        margin-right: 35px;
        opacity: 0;
  }
  
  .checkbox-switch input.input-checkbox:checked + .checkbox-animate .checkbox-off {
        display: none;
        opacity: 0;
  }
  
  .checkbox-switch input.input-checkbox:checked + .checkbox-animate .checkbox-on {
        display: block;
        opacity: 1;
  }